* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
#entradaInp {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}
table, th, td {
    border: 1px solid #ececec;
    border-collapse: collapse;
}
#outMD5, #outBase64, #outleoCode {
    word-wrap: break-word;
    padding: 10px;
}
@media only screen and (max-width: 615px) {
    th, td {
        display: block;
    }
    table {
        width: 100% !important;
        border: none;
    }
    #th1Base64, #th1leoCode {
        display: none;
    }
    #th2Base64, #th2leoCode {
        display: block !important;
    }
    #entradaInp {
        width: 95%;
    }
    #saidaResol, #titulo1, #checkboxExibePC {
        margin: auto;
    }
}